* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //font-family: 'Great Vibes', cursive;
}


body {
    background-color: grey;
    color: yellow;
    position: relative;
    .container {
        height: 100vh;
        width: 100vw;
    }


    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
    }
    a {
        color: lightgreen;
    }
    font-size: 20px;
    li {
        list-style: none;
    }
    #header, #footer {
        background-color: blue;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        
    }



}

